@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #54546d;
}
.nav-list-item-btn-primary {
  background: rgb(155 93 198);
  color: rgb(255 255 255);
  padding: 5px 14px;
  border-radius: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  box-shadow: 0px 5px 15px -11px rgba(0, 0, 0, 0.75);
}
header nav ul {
  display: flex;
  align-items: center;
}
.nav-list-item {
  list-style: none;
  margin: 0 10px;
}
@media all and (max-width: 1200px) {
  header {
    flex-direction: column;
  }
}
@media all and (max-width: 1100px) {
  header nav ul {
    flex-direction: column;
  }
  .nav-list-item {
    margin: 10px;
  }
}
.diploma-and-certifications {
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diploma-and-certifications-content {
  flex-basis: 65%;
}
.diploma-and-certifications-title {
  font-family: 500;
}
.diploma-and-certifications-title-note {
  font-size: 12px;
  font-style: italic;
}
.diploma-and-certifications-image-award {
  position: absolute;
  background-color: #54546d;
  top: -100px;
  right: 0;
  padding: 10% 13%;
  border-radius: 50%;
  z-index: -1;
}
@media all and (max-width: 1100px) {
  .diploma-and-certifications {
    flex-direction: column;
  }
  .diploma-and-certifications-image-award {
    display: none;
  }
}

.diploma-and-certifications-image-award img {
  position: relative;
  left: 170px;
  top: 20px;
}
